@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black m-0 p-0 antialiased overflow-hidden;
  }
}

.bg-radial-gradient {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

span {
  font-variant-numeric: tabular-nums;
}
